body {
    color: #444;
    font-family: sans-serif;
    padding: 20px;
}

h1,
h2,
h3 {
    color: #1098ad;
}

ol ul {
    margin-left: 40px;
}

h1 {
    color: #1098ad;
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.main-header {
    background-color: #f7f7f7;
    height: 80px;
    padding: 20px 40px;
    margin-bottom: 60px;
}

nav a:link {
    background-color: #444;
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
}

nav a:link:last-child {
    margin: right 0;
}

p {
    line-height: 1.5;
    font-size: 22px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}


#author {
    font-style: italic;
    font-size: 18px;
}

aside {

    background-color: #f7f7f7;
    width: 500px;
    border-top: 5px solid #1098ac;
    border-bottom: 5px solid #1098ac;
    padding: 50px 0;

}

.related-list {
    list-style: none;
}


.related-author {
    font-size: 18px;
    font-weight: bold;
}

#copyright {
    font-size: 16px;
}



article {
    margin-bottom: 60px;
}

.select-img {
    width: 100%;
    height: auto;
}

.post-header {
    margin-bottom: 40px;
}

li:nth-child(3) {
    font-style: italic;

}

li:last-child {
    margin-bottom: 0;
}

a:visited {
    color: #1098ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}